.cards {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 15px;
  }
  
  .cardImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .cardTitle p {
    position: relative;
    bottom: 50px;
    font-family: "Airbnb Cereal App";
    font-style: normal;
    font-weight: 1500;
    font-size: 24px;
    line-height: 42px;
    text-transform: capitalize;
    text-shadow: 2px 2px 1px black;
    color: #fff;
  }
  