.container .bgImage {
  /* border: 1px solid red; */
  height: 610px;
  background-position: center;
  /* background-size: cover;
  background: #EFC81A; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#efc81a80 100%, #fff), url('../public/assets/image\ 15.png');
  
}
.container .bgImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  position: absolute;
  top: 250px;
  left: 200px;
}
.icon img {
  width: 150px;
  height: 150px;
}
.background::after {
  background-color: #EFC81A;
  right: -20px;
}
/* .main {
  border: 1px solid red;
} */
.main hr {
  border: 1px solid #F5F5F5;
}

.content {
  position: relative;
  left: 200px;
  top: 100px;
  text-align: center;
  width: 300px;
  height: 400px;
}
.content h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #efc81a;
}
.content p {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #8692A6;
}
.formWarpper {
  text-align: left;
  width: 300px;
  height: 250px;
}

.fowmWarpper label {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #696F79;
}

.formWarpper .check {
  width: 18px;
  height: 18px;
  background-color: red;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content .forgotPassword {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  text-align: right;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 25px;
}

.content .signUp {
  font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
color: #999999;
}

.signUp span {
  color: #EFC81A;
}