/* .container .bgImage {
  border: 1px solid red;
  height: 700px;
  background-size: cover;
  background: #EFC81A;
  background-image: linear-gradient(#EFC81A, #FFF)
} */
.background {
  position: relative;
  width: 100%;
  height: 100%;
}

.background::after {
  background-color: #EFC81A;
  right: -20px;
}
/* .main {
  border: 1px solid red;
} */
.main hr {
  border: 1px solid #F5F5F5;
}

.content {
  position: relative;
  left: 100px;
  top: 100px;
  text-align: center;
  width: 300px;
  height: 400px;
}
.content h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #efc81a;
}
.content p {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
color: #8692A6;
}
.formWarpper {
  text-align: left;
  width: 300px;
  height: 250px;
}

.fowmWarpper label {
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #696F79;
}

.formWarpper .check {
  width: 18px;
  height: 18px;
  background-color: red;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.content .forgotPassword {
  font-family: 'Airbnb Cereal App';
  font-style: normal;
  text-align: right;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  margin-top: 30px;
  margin-bottom: 25px;
}

.content .signUp {
  font-family: 'Airbnb Cereal App';
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 17px;
color: #999999;
}

.signUp span {
  color: #EFC81A;
}