.content {
  margin-top: 100px;
  padding-left: 100px;
  width: 100%;
  height: 345px;
}
.title h1 {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
}
.title h2 {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 90px;
  text-transform: capitalize;
  color: #2e266f;
  position: relative;
  bottom: 55px;
}

.title input {
  padding: 10px;
  width: 320px;
  position: relative;
  bottom: 70px;
}

.profile {
  position: absolute;
  left: 950px;
  bottom: 380px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
}
.profile img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.profile p {
  position: absolute;
  top: 3px;
  left: 33px;
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.layer1 {
  /* position: relative; */
  margin-left: auto;
  margin-top: -405px;
  bottom: 380px;
  width: 300px;
  height: 500px;
  background: #efc81a;
}

.imageLettuce img {
  position: absolute;
  left: 930px;
  top: 10px;
  width: 265px;
  height: 250px;
}

.imageSalad img {
  position: absolute;
  left: 830px;
  top: 80px;
  width: 400px;
  height: 400px;
}

.box2 {
  width: 10px;
  height: 60px;
  background: #efc81a;
  margin-left: 100px;
  margin-right: 20px;
}
.popularRecipe {
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 62px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #3f3a3a;
}

.cards {
  /* margin-top: 50px; */
  /* margin-left: 100px; */
  width: 150px;
  height: 150px;
  /* gap: 5px; */
  border-radius: 15px;
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.cards p {
  position: relative;
  bottom: 50px;
  left: 15px;
  font-family: "Airbnb Cereal App";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 42px;
  text-transform: capitalize;
  color: #fff;
}

.warpperCard {
  margin-left: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  /* gap: 1px; */
}
.btnDetail {
  border: none;
  background: none;
  text-align: center;
  height: 150px;
  width: 150px;
}

.warpperCard .row{
  row-gap: 50px;
}