.warpper {
    margin-top: 20px;
    background: #EFC81A;
border-radius: 6px;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;

}